Package: cmda
Version: 0.01-1
Architecture: all
Maintainer: Charlie Wong Super <1213charlie@163.com>
Installed-Size: 58
Section: utils
Priority: optional
Homepage: https://github.com/charlie-wong/cmda
Description: Linux command-line quick assistant
 * Get the commom used command examples
 * Show the examples with color
 * User can make their own command 'database', which is the sheets file
